body
{
    background-color: antiquewhite;
}
#heading
{
    font-family: cursive, monospace, sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: green;
}
#steps, #ingredients, #description
{
    font-size: 18px;
}
#steps
{
    font-family: 'Courier New', monospace;
}
#ingredients
{
    font-family: 'Lora', serif;
}
#description
{
    font-family: 'Open Sans', sans-serif;
}
#img
{
    text-align: center;
}
#end
{
    text-align: center; 
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}