body
{
    background-color: antiquewhite;
}
.recipe-links div
{
    text-align: center;
    padding: 0.5em;
    font-family: cursive, sans-serif;
    font-size: 1.5em;
}
#heading
{
    font-family: cursive, monospace, sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: green;
}
